<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<div id="body"></div>
<style>
    .node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

body {
    overflow: hidden;
    width: 100%;
}
</style>

<script>
    var margin = {
    top: 20,
    right: 120,
    bottom: 20,
    left: 120
},
width = 960 - margin.right - margin.left,
height = 800 - margin.top - margin.bottom;

var root = {"parent": "null", "name": "2,5,6,8,18,19,20 <|> 0,9,11,13,15,16,21", "children": [{"parent": "2,5,6,8,18,19,20 <|> 0,9,11,13,15,16,21", "name": "0,2,3,4,6,8,11 <|> 5,7,12,16,18,19,21", "children": [{"parent": "0,2,3,4,6,8,11 <|> 5,7,12,16,18,19,21", "name": "2,3,5,9,10,16,18 <|> 1,4,11,12,13,14,20", "children": [{"parent": "2,3,5,9,10,16,18 <|> 1,4,11,12,13,14,20", "name": "3,13,14,17,20 <|> 0,4,5,8,11", "children": [{"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "6&3", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "3&2", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "17&2", "children": []}]}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "children": [{"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "6&2", "children": []}, {"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "10&6", "children": []}, {"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "children": [{"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "8&3", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "10&2", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "cannot get here", "children": []}]}]}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "children": [{"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "cannot get here", "children": []}, {"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "8&2", "children": []}, {"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "10&8", "children": []}]}]}, {"parent": "2,3,5,9,10,16,18 <|> 1,4,11,12,13,14,20", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "children": [{"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "2&1", "children": []}, {"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "4&2", "children": []}, {"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "8&6", "children": []}]}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "14&2", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "17&6", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "cannot get here", "children": []}]}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "children": [{"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "20&3", "children": []}, {"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "20&2", "children": []}, {"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "17&8", "children": []}]}]}, {"parent": "2,3,5,9,10,16,18 <|> 1,4,11,12,13,14,20", "name": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "children": [{"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "children": [{"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "6&1", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "14&6", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "20&6", "children": []}]}, {"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "20&8", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "20&4", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "6&4", "children": []}]}, {"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "children": [{"parent": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "name": "14&8", "children": []}, {"parent": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "name": "8&1", "children": []}, {"parent": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "name": "8&4", "children": []}]}]}]}, {"parent": "0,2,3,4,6,8,11 <|> 5,7,12,16,18,19,21", "name": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "children": [{"parent": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "name": "3,13,14,17,20 <|> 0,4,5,8,11", "children": [{"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "children": [{"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "20&14", "children": []}, {"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "20&1", "children": []}, {"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "20&10", "children": []}]}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "12&2", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "18&2", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "7&2", "children": []}]}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "children": [{"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "cannot get here", "children": []}, {"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "5&2", "children": []}, {"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "8&5", "children": []}]}]}, {"parent": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "3,13,14,17,20 <|> 0,4,5,8,11", "children": [{"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "20&17", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "19&2", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "8&7", "children": []}]}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "children": [{"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "12&8", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "5&3", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "18&8", "children": []}]}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "children": [{"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "cannot get here", "children": []}, {"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "5&4", "children": []}, {"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "6&5", "children": []}]}]}, {"parent": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "name": "0,4,5,7,8,15,18 <|> 3,9,10,12,17,19,21", "children": [{"parent": "0,4,5,7,8,15,18 <|> 3,9,10,12,17,19,21", "name": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "children": [{"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "18&6", "children": []}, {"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "18&4", "children": []}, {"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "7&6", "children": []}]}, {"parent": "0,4,5,7,8,15,18 <|> 3,9,10,12,17,19,21", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "19&8", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "18&3", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "19&4", "children": []}]}, {"parent": "0,4,5,7,8,15,18 <|> 3,9,10,12,17,19,21", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "19&3", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "19&6", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "12&6", "children": []}]}]}]}, {"parent": "0,2,3,4,6,8,11 <|> 5,7,12,16,18,19,21", "name": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "children": [{"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "1,4,6,10,11,20,21 <|> 3,5,7,12,14,15,19", "children": [{"parent": "1,4,6,10,11,20,21 <|> 3,5,7,12,14,15,19", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "18&1", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "18&10", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "20&18", "children": []}]}, {"parent": "1,4,6,10,11,20,21 <|> 3,5,7,12,14,15,19", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "5&1", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "10&5", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "20&5", "children": []}]}, {"parent": "1,4,6,10,11,20,21 <|> 3,5,7,12,14,15,19", "name": "3,13,14,17,20 <|> 0,4,5,8,11", "children": [{"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "18&14", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "14&5", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "18&5", "children": []}]}]}, {"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "0,1,4,5,10,13,19,20 <|> 2,6,8,9,14,17,18,21", "children": [{"parent": "0,1,4,5,10,13,19,20 <|> 2,6,8,9,14,17,18,21", "name": "1,3,7,9,18,20,21 <|> 2,4,8,11,12,13,14", "children": [{"parent": "1,3,7,9,18,20,21 <|> 2,4,8,11,12,13,14", "name": "7&5", "children": []}, {"parent": "1,3,7,9,18,20,21 <|> 2,4,8,11,12,13,14", "name": "19&5", "children": []}, {"parent": "1,3,7,9,18,20,21 <|> 2,4,8,11,12,13,14", "name": "12&5", "children": []}]}, {"parent": "0,1,4,5,10,13,19,20 <|> 2,6,8,9,14,17,18,21", "name": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "children": [{"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "17&5", "children": []}, {"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "19&18", "children": []}, {"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "19&14", "children": []}]}, {"parent": "0,1,4,5,10,13,19,20 <|> 2,6,8,9,14,17,18,21", "name": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "children": [{"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "18&17", "children": []}, {"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "18&7", "children": []}, {"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "18&12", "children": []}]}]}, {"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "children": [{"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "cannot get here", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "19&10", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "19&12", "children": []}]}, {"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "children": [{"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "19&1", "children": []}, {"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "20&12", "children": []}, {"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "19&7", "children": []}]}, {"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "children": [{"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "20&7", "children": []}, {"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "19&17", "children": []}, {"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "20&19", "children": []}]}]}]}]}, {"parent": "2,5,6,8,18,19,20 <|> 0,9,11,13,15,16,21", "name": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "children": [{"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "2,4,5,7,10,14,19 <|> 1,8,9,11,13,15,16", "children": [{"parent": "2,4,5,7,10,14,19 <|> 1,8,9,11,13,15,16", "name": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "children": [{"parent": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "14&12", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "12&7", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "14&7", "children": []}]}, {"parent": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "14&4", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "14&3", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "21&19", "children": []}]}, {"parent": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "7&3", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "21&5", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "7&4", "children": []}]}]}, {"parent": "2,4,5,7,10,14,19 <|> 1,8,9,11,13,15,16", "name": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "children": [{"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "children": [{"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "21&20", "children": []}, {"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "21&18", "children": []}, {"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "14&1", "children": []}]}, {"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "cannot get here", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "19&16", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "16&5", "children": []}]}, {"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "20&0", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "7&1", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "18&0", "children": []}]}]}, {"parent": "2,4,5,7,10,14,19 <|> 1,8,9,11,13,15,16", "name": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "children": [{"parent": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "name": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "children": [{"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "18&15", "children": []}, {"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "18&16", "children": []}, {"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "cannot get here", "children": []}]}, {"parent": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "name": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "children": [{"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "20&15", "children": []}, {"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "20&16", "children": []}, {"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "18&9", "children": []}]}, {"parent": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "18&13", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "20&13", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "20&9", "children": []}]}]}]}, {"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "children": [{"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "children": [{"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "4&1", "children": []}, {"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "4&3", "children": []}, {"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "16&6", "children": []}]}, {"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "3,13,14,17,20 <|> 0,4,5,8,11", "children": [{"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "3&1", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "13&5", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "12&4", "children": []}]}, {"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "cannot get here", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "12&3", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "12&1", "children": []}]}]}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "children": [{"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "children": [{"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "15&5", "children": []}, {"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "18&11", "children": []}, {"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "21&6", "children": []}]}, {"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "children": [{"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "19&13", "children": []}, {"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "14&10", "children": []}, {"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "16&2", "children": []}]}, {"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "children": [{"parent": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "name": "16&8", "children": []}, {"parent": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "name": "5&0", "children": []}, {"parent": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "name": "9&5", "children": []}]}]}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "children": [{"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "1,4,6,10,11,20,21 <|> 3,5,7,12,14,15,19", "children": [{"parent": "1,4,6,10,11,20,21 <|> 3,5,7,12,14,15,19", "name": "21&2", "children": []}, {"parent": "1,4,6,10,11,20,21 <|> 3,5,7,12,14,15,19", "name": "10&7", "children": []}, {"parent": "1,4,6,10,11,20,21 <|> 3,5,7,12,14,15,19", "name": "17&7", "children": []}]}, {"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "3,13,14,17,20 <|> 0,4,5,8,11", "children": [{"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "17&14", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "20&11", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "21&8", "children": []}]}, {"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "children": [{"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "19&0", "children": []}, {"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "19&15", "children": []}, {"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "19&9", "children": []}]}]}]}, {"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "children": [{"parent": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "children": [{"parent": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "name": "9&8", "children": []}, {"parent": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "name": "8&0", "children": []}, {"parent": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "name": "15&8", "children": []}]}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "1,2,3,9,10,13,15 <|> 0,5,7,12,14,19,20", "children": [{"parent": "1,2,3,9,10,13,15 <|> 0,5,7,12,14,19,20", "name": "15&6", "children": []}, {"parent": "1,2,3,9,10,13,15 <|> 0,5,7,12,14,19,20", "name": "11&8", "children": []}, {"parent": "1,2,3,9,10,13,15 <|> 0,5,7,12,14,19,20", "name": "6&0", "children": []}]}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "11&6", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "17&12", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "19&11", "children": []}]}]}, {"parent": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "1,2,3,5,14,16,21 <|> 6,8,10,11,15,18,19", "children": [{"parent": "1,2,3,5,14,16,21 <|> 6,8,10,11,15,18,19", "name": "2&0", "children": []}, {"parent": "1,2,3,5,14,16,21 <|> 6,8,10,11,15,18,19", "name": "15&2", "children": []}, {"parent": "1,2,3,5,14,16,21 <|> 6,8,10,11,15,18,19", "name": "13&8", "children": []}]}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "3,13,14,17,20 <|> 0,4,5,8,11", "children": [{"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "17&1", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "9&6", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "11&2", "children": []}]}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "12&10", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "11&5", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "cannot get here", "children": []}]}]}, {"parent": "0,8,11,12,14,15,16 <|> 2,3,4,5,10,13,20", "name": "2,3,5,11,17,20,21 <|> 0,1,4,9,13,15,16", "children": [{"parent": "2,3,5,11,17,20,21 <|> 0,1,4,9,13,15,16", "name": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "children": [{"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "17&10", "children": []}, {"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "17&3", "children": []}, {"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "10&3", "children": []}]}, {"parent": "2,3,5,11,17,20,21 <|> 0,1,4,9,13,15,16", "name": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "children": [{"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "9&2", "children": []}, {"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "13&2", "children": []}, {"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "17&4", "children": []}]}, {"parent": "2,3,5,11,17,20,21 <|> 0,1,4,9,13,15,16", "name": "3,13,14,17,20 <|> 0,4,5,8,11", "children": [{"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "13&6", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "10&1", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "10&4", "children": []}]}]}]}]}, {"parent": "2,5,6,8,18,19,20 <|> 0,9,11,13,15,16,21", "name": "1,3,7,9,18,20,21 <|> 2,4,8,11,12,13,14", "children": [{"parent": "1,3,7,9,18,20,21 <|> 2,4,8,11,12,13,14", "name": "1,2,8,10,11,15,21 <|> 0,3,4,9,12,18,19", "children": [{"parent": "1,2,8,10,11,15,21 <|> 0,3,4,9,12,18,19", "name": "2,3,5,11,17,20,21 <|> 0,1,4,9,13,15,16", "children": [{"parent": "2,3,5,11,17,20,21 <|> 0,1,4,9,13,15,16", "name": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "children": [{"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "21&10", "children": []}, {"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "21&7", "children": []}, {"parent": "0,5,8,10,12,13,18 <|> 6,9,11,14,16,17,20", "name": "21&17", "children": []}]}, {"parent": "2,3,5,11,17,20,21 <|> 0,1,4,9,13,15,16", "name": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "children": [{"parent": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "name": "21&16", "children": []}, {"parent": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "name": "21&1", "children": []}, {"parent": "2,5,9,10,14,16,20 <|> 3,4,6,11,15,17,19", "name": "21&15", "children": []}]}, {"parent": "2,3,5,11,17,20,21 <|> 0,1,4,9,13,15,16", "name": "1,4,6,10,11,20,21 <|> 3,5,7,12,14,15,19", "children": [{"parent": "1,4,6,10,11,20,21 <|> 3,5,7,12,14,15,19", "name": "16&1", "children": []}, {"parent": "1,4,6,10,11,20,21 <|> 3,5,7,12,14,15,19", "name": "15&1", "children": []}, {"parent": "1,4,6,10,11,20,21 <|> 3,5,7,12,14,15,19", "name": "15&7", "children": []}]}]}, {"parent": "1,2,8,10,11,15,21 <|> 0,3,4,9,12,18,19", "name": "2,7,9,11,12,15,16 <|> 0,1,3,5,10,14,18", "children": [{"parent": "2,7,9,11,12,15,16 <|> 0,1,3,5,10,14,18", "name": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "children": [{"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "15&9", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "21&9", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "16&7", "children": []}]}, {"parent": "2,7,9,11,12,15,16 <|> 0,1,3,5,10,14,18", "name": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "children": [{"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "15&3", "children": []}, {"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "9&1", "children": []}, {"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "10&9", "children": []}]}, {"parent": "2,7,9,11,12,15,16 <|> 0,1,3,5,10,14,18", "name": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "children": [{"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "1&0", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "21&3", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "21&0", "children": []}]}]}, {"parent": "1,2,8,10,11,15,21 <|> 0,3,4,9,12,18,19", "name": "3,13,14,17,20 <|> 0,4,5,8,11", "children": [{"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "children": [{"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "16&3", "children": []}, {"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "9&3", "children": []}, {"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "17&9", "children": []}]}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "3,6,10,11,14,17,19 <|> 2,4,7,12,13,15,18", "children": [{"parent": "3,6,10,11,14,17,19 <|> 2,4,7,12,13,15,18", "name": "3&0", "children": []}, {"parent": "3,6,10,11,14,17,19 <|> 2,4,7,12,13,15,18", "name": "16&9", "children": []}, {"parent": "3,6,10,11,14,17,19 <|> 2,4,7,12,13,15,18", "name": "9&7", "children": []}]}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "cannot get here", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "9&0", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "7&0", "children": []}]}]}]}, {"parent": "1,3,7,9,18,20,21 <|> 2,4,8,11,12,13,14", "name": "0,2,3,4,6,8,11 <|> 5,7,12,16,18,19,21", "children": [{"parent": "0,2,3,4,6,8,11 <|> 5,7,12,16,18,19,21", "name": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "children": [{"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "7,9,15,16,17,19 <|> 0,3,5,6,8,10", "children": [{"parent": "7,9,15,16,17,19 <|> 0,3,5,6,8,10", "name": "11&9", "children": []}, {"parent": "7,9,15,16,17,19 <|> 0,3,5,6,8,10", "name": "11&1", "children": []}, {"parent": "7,9,15,16,17,19 <|> 0,3,5,6,8,10", "name": "11&3", "children": []}]}, {"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "children": [{"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "cannot get here", "children": []}, {"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "15&0", "children": []}, {"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "10&0", "children": []}]}, {"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "13&3", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "17&0", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "9&4", "children": []}]}]}, {"parent": "0,2,3,4,6,8,11 <|> 5,7,12,16,18,19,21", "name": "1,2,5,6,7,16,21 <|> 0,8,12,13,15,18,19", "children": [{"parent": "1,2,5,6,7,16,21 <|> 0,8,12,13,15,18,19", "name": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "children": [{"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "11&7", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "21&11", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "21&4", "children": []}]}, {"parent": "1,2,5,6,7,16,21 <|> 0,8,12,13,15,18,19", "name": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "children": [{"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "13&1", "children": []}, {"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "16&0", "children": []}, {"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "14&9", "children": []}]}, {"parent": "1,2,5,6,7,16,21 <|> 0,8,12,13,15,18,19", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "13&9", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "15&10", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "17&15", "children": []}]}]}, {"parent": "0,2,3,4,6,8,11 <|> 5,7,12,16,18,19,21", "name": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "children": [{"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "cannot get here", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "13&7", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "17&16", "children": []}]}, {"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "children": [{"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "21&13", "children": []}, {"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "16&10", "children": []}, {"parent": "1,5,7,10,12,17,21 <|> 0,8,9,14,16,18,19", "name": "16&15", "children": []}]}, {"parent": "2,6,13,17,19,20 <|> 3,4,5,8,9,21", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "21&14", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "21&12", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "12&9", "children": []}]}]}]}, {"parent": "1,3,7,9,18,20,21 <|> 2,4,8,11,12,13,14", "name": "1,2,8,10,11,15,21 <|> 0,3,4,9,12,18,19", "children": [{"parent": "1,2,8,10,11,15,21 <|> 0,3,4,9,12,18,19", "name": "3,13,14,17,20 <|> 0,4,5,8,11", "children": [{"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "children": [{"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "15&14", "children": []}, {"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "15&13", "children": []}, {"parent": "7,14,16,18,20,21 <|> 2,6,8,10,11,17", "name": "13&10", "children": []}]}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "1,4,6,12,13 <|> 7,17,19,20,21", "children": [{"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "13&11", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "14&11", "children": []}, {"parent": "1,4,6,12,13 <|> 7,17,19,20,21", "name": "17&11", "children": []}]}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "children": [{"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "11&10", "children": []}, {"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "15&11", "children": []}, {"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "16&11", "children": []}]}]}, {"parent": "1,2,8,10,11,15,21 <|> 0,3,4,9,12,18,19", "name": "0,2,3,4,6,8,11 <|> 5,7,12,16,18,19,21", "children": [{"parent": "0,2,3,4,6,8,11 <|> 5,7,12,16,18,19,21", "name": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "children": [{"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "11&0", "children": []}, {"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "11&4", "children": []}, {"parent": "2,5,8,11,14,18 <|> 4,7,12,13,17,19", "name": "15&4", "children": []}]}, {"parent": "0,2,3,4,6,8,11 <|> 5,7,12,16,18,19,21", "name": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "children": [{"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "12&11", "children": []}, {"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "14&13", "children": []}, {"parent": "0,1,3,11,15,21 <|> 2,5,7,8,9,17", "name": "17&13", "children": []}]}, {"parent": "0,2,3,4,6,8,11 <|> 5,7,12,16,18,19,21", "name": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "children": [{"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "15&12", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "16&13", "children": []}, {"parent": "1,3,9,11,12,13 <|> 5,16,18,19,20,21", "name": "16&14", "children": []}]}]}, {"parent": "1,2,8,10,11,15,21 <|> 0,3,4,9,12,18,19", "name": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "children": [{"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "2,3,8,20,21 <|> 4,5,11,12,18", "children": [{"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "cannot get here", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "13&0", "children": []}, {"parent": "2,3,8,20,21 <|> 4,5,11,12,18", "name": "4&0", "children": []}]}, {"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "children": [{"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "13&4", "children": []}, {"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "14&0", "children": []}, {"parent": "4,6,11,14,15,21 <|> 0,7,8,9,10,12", "name": "12&0", "children": []}]}, {"parent": "0,6,9,10,17,20 <|> 1,2,8,12,14,16", "name": "3,13,14,17,20 <|> 0,4,5,8,11", "children": [{"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "13&12", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "16&12", "children": []}, {"parent": "3,13,14,17,20 <|> 0,4,5,8,11", "name": "16&4", "children": []}]}]}]}]}]};

var i = 0,
    duration = 750,
    rectW = 120,
    rectH = 30;

var tree = d3.layout.tree().nodeSize([70, 40]);
var diagonal = d3.svg.diagonal()
    .projection(function (d) {
    return [d.x + rectW / 2, d.y + rectH / 2];
});

var svg = d3.select("#body").append("svg").attr("width", window.innerWidth).attr("height", window.innerHeight)
    .call(zm = d3.behavior.zoom().scaleExtent([1,3]).on("zoom", redraw)).append("g")
    .attr("transform", "translate(" + 350 + "," + 20 + ")");

//necessary so that zoom knows where to zoom and unzoom from
zm.translate([350, 20]);

root.x0 = 0;
root.y0 = height / 2;

function collapse(d) {
    if (d.children) {
        d._children = d.children;
        d._children.forEach(collapse);
        d.children = null;
    }
}

root.children.forEach(collapse);
update(root);

d3.select("#body").style("height", "800px");

function update(source) {

    // Compute the new tree layout.
    var nodes = tree.nodes(root).reverse(),
        links = tree.links(nodes);

    // Normalize for fixed-depth.
    nodes.forEach(function (d) {
        d.y = d.depth * 180;
      d.x *= 2
    });

    // Update the nodes…
    var node = svg.selectAll("g.node")
        .data(nodes, function (d) {
        return d.id || (d.id = ++i);
    });

    // Enter any new nodes at the parent's previous position.
    var nodeEnter = node.enter().append("g")
        .attr("class", "node")
        .attr("transform", function (d) {
        return "translate(" + source.x0 + "," + source.y0 + ")";
    })
        .on("click", click);

    nodeEnter.append("rect")
        .attr("width", rectW)
        .attr("height", rectH)
        .attr("stroke", "black")
        .attr("stroke-width", 1)
        .style("fill", function (d) {
        return d._children ? "lightsteelblue" : "#fff";
    });

    nodeEnter.append("text")
        .attr("x", rectW / 2)
        .attr("y", rectH / 2)
        .attr("dy", ".35em")
        .attr("text-anchor", "middle")
        .text(function (d) {
        return d.name;
    });

    // Transition nodes to their new position.
    var nodeUpdate = node.transition()
        .duration(duration)
        .attr("transform", function (d) {
        return "translate(" + d.x + "," + d.y + ")";
    });

    nodeUpdate.select("rect")
        .attr("width", rectW)
        .attr("height", rectH)
        .attr("stroke", "black")
        .attr("stroke-width", 1)
        .style("fill", function (d) {
        return d._children ? "lightsteelblue" : "#fff";
    });

    nodeUpdate.select("text")
        .style("fill-opacity", 1);

    // Transition exiting nodes to the parent's new position.
    var nodeExit = node.exit().transition()
        .duration(duration)
        .attr("transform", function (d) {
        return "translate(" + source.x + "," + source.y + ")";
    })
        .remove();

    nodeExit.select("rect")
        .attr("width", rectW)
        .attr("height", rectH)
    //.attr("width", bbox.getBBox().width)""
    //.attr("height", bbox.getBBox().height)
    .attr("stroke", "black")
        .attr("stroke-width", 1);

    nodeExit.select("text");

    // Update the links…
    var link = svg.selectAll("path.link")
        .data(links, function (d) {
        return d.target.id;
    });

    // Enter any new links at the parent's previous position.
    link.enter().insert("path", "g")
        .attr("class", "link")
        .attr("x", rectW / 2)
        .attr("y", rectH / 2)
        .attr("d", function (d) {
        var o = {
            x: source.x0,
            y: source.y0
        };
        return diagonal({
            source: o,
            target: o
        });
    });

    // Transition links to their new position.
    link.transition()
        .duration(duration)
        .attr("d", diagonal);

    // Transition exiting nodes to the parent's new position.
    link.exit().transition()
        .duration(duration)
        .attr("d", function (d) {
        var o = {
            x: source.x,
            y: source.y
        };
        return diagonal({
            source: o,
            target: o
        });
    })
        .remove();

    // Stash the old positions for transition.
    nodes.forEach(function (d) {
        d.x0 = d.x;
        d.y0 = d.y;
    });
}

// Toggle children on click.
function click(d) {
    if (d.children) {
        d._children = d.children;
        d.children = null;
    } else {
        d.children = d._children;
        d._children = null;
    }
    update(d);
}

//Redraw for zoom
function redraw() {
  //console.log("here", d3.event.translate, d3.event.scale);
  svg.attr("transform",
      "translate(" + d3.event.translate + ")"
      + " scale(" + d3.event.scale + ")");
}
</script>