<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<div id="body"></div>
<style>
    .node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

body {
    overflow: hidden;
    width: 100%;
}
</style>

<script>
    var margin = {
    top: 20,
    right: 120,
    bottom: 20,
    left: 120
},
width = 960 - margin.right - margin.left,
height = 800 - margin.top - margin.bottom;

var root = {"parent": "null", "name": "2,5,11,12 <|> 0,4,7,10", "children": [{"parent": "2,5,11,12 <|> 0,4,7,10", "name": "6,11,12 <|> 2,5,9", "children": [{"parent": "6,11,12 <|> 2,5,9", "name": "3,5,6,8,10 <|> 0,1,2,9,11", "children": [{"parent": "3,5,6,8,10 <|> 0,1,2,9,11", "name": "2,3,4,10 <|> 0,5,8,9", "children": [{"parent": "2,3,4,10 <|> 0,5,8,9", "name": "12&3", "children": []}, {"parent": "2,3,4,10 <|> 0,5,8,9", "name": "12&6", "children": []}, {"parent": "2,3,4,10 <|> 0,5,8,9", "name": "12&8", "children": []}]}, {"parent": "3,5,6,8,10 <|> 0,1,2,9,11", "name": "2,3,4,10 <|> 0,5,8,9", "children": [{"parent": "2,3,4,10 <|> 0,5,8,9", "name": "11&3", "children": []}, {"parent": "2,3,4,10 <|> 0,5,8,9", "name": "11&6", "children": []}, {"parent": "2,3,4,10 <|> 0,5,8,9", "name": "11&8", "children": []}]}, {"parent": "3,5,6,8,10 <|> 0,1,2,9,11", "name": "2,4,12 <|> 0,1,9", "children": [{"parent": "2,4,12 <|> 0,1,9", "name": "12&11", "children": []}, {"parent": "2,4,12 <|> 0,1,9", "name": "12&1", "children": []}, {"parent": "2,4,12 <|> 0,1,9", "name": "11&1", "children": []}]}]}, {"parent": "6,11,12 <|> 2,5,9", "name": "0,4,9,11 <|> 1,5,10,12", "children": [{"parent": "0,4,9,11 <|> 1,5,10,12", "name": "4,9 <|> 2,5", "children": [{"parent": "4,9 <|> 2,5", "name": "11&9", "children": []}, {"parent": "4,9 <|> 2,5", "name": "cannot get here", "children": []}, {"parent": "4,9 <|> 2,5", "name": "11&2", "children": []}]}, {"parent": "0,4,9,11 <|> 1,5,10,12", "name": "5,7,11 <|> 0,8,9", "children": [{"parent": "5,7,11 <|> 0,8,9", "name": "11&5", "children": []}, {"parent": "5,7,11 <|> 0,8,9", "name": "6&2", "children": []}, {"parent": "5,7,11 <|> 0,8,9", "name": "12&9", "children": []}]}, {"parent": "0,4,9,11 <|> 1,5,10,12", "name": "4,5,7 <|> 10,11,12", "children": [{"parent": "4,5,7 <|> 10,11,12", "name": "6&5", "children": []}, {"parent": "4,5,7 <|> 10,11,12", "name": "12&5", "children": []}, {"parent": "4,5,7 <|> 10,11,12", "name": "12&2", "children": []}]}]}, {"parent": "6,11,12 <|> 2,5,9", "name": "2,3,6,10,12 <|> 1,4,8,9,11", "children": [{"parent": "2,3,6,10,12 <|> 1,4,8,9,11", "name": "3,4,11,12 <|> 2,6,8,9", "children": [{"parent": "3,4,11,12 <|> 2,6,8,9", "name": "5&3", "children": []}, {"parent": "3,4,11,12 <|> 2,6,8,9", "name": "3&2", "children": []}, {"parent": "3,4,11,12 <|> 2,6,8,9", "name": "5&2", "children": []}]}, {"parent": "2,3,6,10,12 <|> 1,4,8,9,11", "name": "0,4,9,11 <|> 1,5,10,12", "children": [{"parent": "0,4,9,11 <|> 1,5,10,12", "name": "9&2", "children": []}, {"parent": "0,4,9,11 <|> 1,5,10,12", "name": "8&2", "children": []}, {"parent": "0,4,9,11 <|> 1,5,10,12", "name": "2&1", "children": []}]}, {"parent": "2,3,6,10,12 <|> 1,4,8,9,11", "name": "0,4,8 <|> 2,9,12", "children": [{"parent": "0,4,8 <|> 2,9,12", "name": "8&5", "children": []}, {"parent": "0,4,8 <|> 2,9,12", "name": "5&1", "children": []}, {"parent": "0,4,8 <|> 2,9,12", "name": "9&5", "children": []}]}]}]}, {"parent": "2,5,11,12 <|> 0,4,7,10", "name": "5,7,11 <|> 0,8,9", "children": [{"parent": "5,7,11 <|> 0,8,9", "name": "1,6,7,11 <|> 3,4,10,12", "children": [{"parent": "1,6,7,11 <|> 3,4,10,12", "name": "2,3,4,10 <|> 0,5,8,9", "children": [{"parent": "2,3,4,10 <|> 0,5,8,9", "name": "7&2", "children": []}, {"parent": "2,3,4,10 <|> 0,5,8,9", "name": "11&7", "children": []}, {"parent": "2,3,4,10 <|> 0,5,8,9", "name": "7&5", "children": []}]}, {"parent": "1,6,7,11 <|> 3,4,10,12", "name": "2,7,12 <|> 0,4,6", "children": [{"parent": "2,7,12 <|> 0,4,6", "name": "12&7", "children": []}, {"parent": "2,7,12 <|> 0,4,6", "name": "11&10", "children": []}, {"parent": "2,7,12 <|> 0,4,6", "name": "11&4", "children": []}]}, {"parent": "1,6,7,11 <|> 3,4,10,12", "name": "4,9 <|> 2,5", "children": [{"parent": "4,9 <|> 2,5", "name": "cannot get here", "children": []}, {"parent": "4,9 <|> 2,5", "name": "5&4", "children": []}, {"parent": "4,9 <|> 2,5", "name": "10&5", "children": []}]}]}, {"parent": "5,7,11 <|> 0,8,9", "name": "2,5,8,12 <|> 1,6,7,10", "children": [{"parent": "2,5,8,12 <|> 1,6,7,10", "name": "4,9 <|> 2,5", "children": [{"parent": "4,9 <|> 2,5", "name": "12&4", "children": []}, {"parent": "4,9 <|> 2,5", "name": "4&2", "children": []}, {"parent": "4,9 <|> 2,5", "name": "5&0", "children": []}]}, {"parent": "2,5,8,12 <|> 1,6,7,10", "name": "3,5,6,8,10 <|> 0,1,2,9,11", "children": [{"parent": "3,5,6,8,10 <|> 0,1,2,9,11", "name": "12&10", "children": []}, {"parent": "3,5,6,8,10 <|> 0,1,2,9,11", "name": "10&2", "children": []}, {"parent": "3,5,6,8,10 <|> 0,1,2,9,11", "name": "11&0", "children": []}]}, {"parent": "2,5,8,12 <|> 1,6,7,10", "name": "3,4,11,12 <|> 2,6,8,9", "children": [{"parent": "3,4,11,12 <|> 2,6,8,9", "name": "3&1", "children": []}, {"parent": "3,4,11,12 <|> 2,6,8,9", "name": "6&3", "children": []}, {"parent": "3,4,11,12 <|> 2,6,8,9", "name": "6&1", "children": []}]}]}, {"parent": "5,7,11 <|> 0,8,9", "name": "0,4,8 <|> 2,9,12", "children": [{"parent": "0,4,8 <|> 2,9,12", "name": "0,2,4,6,9 <|> 3,7,10,11,12", "children": [{"parent": "0,2,4,6,9 <|> 3,7,10,11,12", "name": "8&6", "children": []}, {"parent": "0,2,4,6,9 <|> 3,7,10,11,12", "name": "8&1", "children": []}, {"parent": "0,2,4,6,9 <|> 3,7,10,11,12", "name": "8&3", "children": []}]}, {"parent": "0,4,8 <|> 2,9,12", "name": "4,9 <|> 2,5", "children": [{"parent": "4,9 <|> 2,5", "name": "9&8", "children": []}, {"parent": "4,9 <|> 2,5", "name": "12&0", "children": []}, {"parent": "4,9 <|> 2,5", "name": "2&0", "children": []}]}, {"parent": "0,4,8 <|> 2,9,12", "name": "0,1,5,12 <|> 3,4,7,8", "children": [{"parent": "0,1,5,12 <|> 3,4,7,8", "name": "9&1", "children": []}, {"parent": "0,1,5,12 <|> 3,4,7,8", "name": "9&6", "children": []}, {"parent": "0,1,5,12 <|> 3,4,7,8", "name": "9&3", "children": []}]}]}]}, {"parent": "2,5,11,12 <|> 0,4,7,10", "name": "3,4,11,12 <|> 2,6,8,9", "children": [{"parent": "3,4,11,12 <|> 2,6,8,9", "name": "0,1,7,9 <|> 2,3,6,12", "children": [{"parent": "0,1,7,9 <|> 2,3,6,12", "name": "5,7,11 <|> 0,8,9", "children": [{"parent": "5,7,11 <|> 0,8,9", "name": "7&4", "children": []}, {"parent": "5,7,11 <|> 0,8,9", "name": "4&1", "children": []}, {"parent": "5,7,11 <|> 0,8,9", "name": "4&0", "children": []}]}, {"parent": "0,1,7,9 <|> 2,3,6,12", "name": "5,7,11 <|> 0,8,9", "children": [{"parent": "5,7,11 <|> 0,8,9", "name": "7&3", "children": []}, {"parent": "5,7,11 <|> 0,8,9", "name": "10&4", "children": []}, {"parent": "5,7,11 <|> 0,8,9", "name": "3&0", "children": []}]}, {"parent": "0,1,7,9 <|> 2,3,6,12", "name": "4,9 <|> 2,5", "children": [{"parent": "4,9 <|> 2,5", "name": "4&3", "children": []}, {"parent": "4,9 <|> 2,5", "name": "10&3", "children": []}, {"parent": "4,9 <|> 2,5", "name": "cannot get here", "children": []}]}]}, {"parent": "3,4,11,12 <|> 2,6,8,9", "name": "1,6,7,11 <|> 3,4,10,12", "children": [{"parent": "1,6,7,11 <|> 3,4,10,12", "name": "2,7,12 <|> 0,4,6", "children": [{"parent": "2,7,12 <|> 0,4,6", "name": "7&1", "children": []}, {"parent": "2,7,12 <|> 0,4,6", "name": "7&0", "children": []}, {"parent": "2,7,12 <|> 0,4,6", "name": "1&0", "children": []}]}, {"parent": "1,6,7,11 <|> 3,4,10,12", "name": "2,7,12 <|> 0,4,6", "children": [{"parent": "2,7,12 <|> 0,4,6", "name": "10&7", "children": []}, {"parent": "2,7,12 <|> 0,4,6", "name": "10&1", "children": []}, {"parent": "2,7,12 <|> 0,4,6", "name": "6&4", "children": []}]}, {"parent": "1,6,7,11 <|> 3,4,10,12", "name": "2,4,12 <|> 0,1,9", "children": [{"parent": "2,4,12 <|> 0,1,9", "name": "8&4", "children": []}, {"parent": "2,4,12 <|> 0,1,9", "name": "9&4", "children": []}, {"parent": "2,4,12 <|> 0,1,9", "name": "10&0", "children": []}]}]}, {"parent": "3,4,11,12 <|> 2,6,8,9", "name": "6,11,12 <|> 2,5,9", "children": [{"parent": "6,11,12 <|> 2,5,9", "name": "5,7,11 <|> 0,8,9", "children": [{"parent": "5,7,11 <|> 0,8,9", "name": "7&6", "children": []}, {"parent": "5,7,11 <|> 0,8,9", "name": "10&6", "children": []}, {"parent": "5,7,11 <|> 0,8,9", "name": "6&0", "children": []}]}, {"parent": "6,11,12 <|> 2,5,9", "name": "2,7,12 <|> 0,4,6", "children": [{"parent": "2,7,12 <|> 0,4,6", "name": "8&7", "children": []}, {"parent": "2,7,12 <|> 0,4,6", "name": "10&8", "children": []}, {"parent": "2,7,12 <|> 0,4,6", "name": "8&0", "children": []}]}, {"parent": "6,11,12 <|> 2,5,9", "name": "2,7,12 <|> 0,4,6", "children": [{"parent": "2,7,12 <|> 0,4,6", "name": "9&7", "children": []}, {"parent": "2,7,12 <|> 0,4,6", "name": "10&9", "children": []}, {"parent": "2,7,12 <|> 0,4,6", "name": "9&0", "children": []}]}]}]}]};

var i = 0,
    duration = 750,
    rectW = 120,
    rectH = 30;

var tree = d3.layout.tree().nodeSize([70, 40]);
var diagonal = d3.svg.diagonal()
    .projection(function (d) {
    return [d.x + rectW / 2, d.y + rectH / 2];
});

var svg = d3.select("#body").append("svg").attr("width", window.innerWidth).attr("height", window.innerHeight)
    .call(zm = d3.behavior.zoom().scaleExtent([1,3]).on("zoom", redraw)).append("g")
    .attr("transform", "translate(" + 350 + "," + 20 + ")");

//necessary so that zoom knows where to zoom and unzoom from
zm.translate([350, 20]);

root.x0 = 0;
root.y0 = height / 2;

function collapse(d) {
    if (d.children) {
        d._children = d.children;
        d._children.forEach(collapse);
        d.children = null;
    }
}

root.children.forEach(collapse);
update(root);

d3.select("#body").style("height", "800px");

function update(source) {

    // Compute the new tree layout.
    var nodes = tree.nodes(root).reverse(),
        links = tree.links(nodes);

    // Normalize for fixed-depth.
    nodes.forEach(function (d) {
        d.y = d.depth * 180;
      d.x *= 2
    });

    // Update the nodes…
    var node = svg.selectAll("g.node")
        .data(nodes, function (d) {
        return d.id || (d.id = ++i);
    });

    // Enter any new nodes at the parent's previous position.
    var nodeEnter = node.enter().append("g")
        .attr("class", "node")
        .attr("transform", function (d) {
        return "translate(" + source.x0 + "," + source.y0 + ")";
    })
        .on("click", click);

    nodeEnter.append("rect")
        .attr("width", rectW)
        .attr("height", rectH)
        .attr("stroke", "black")
        .attr("stroke-width", 1)
        .style("fill", function (d) {
        return d._children ? "lightsteelblue" : "#fff";
    });

    nodeEnter.append("text")
        .attr("x", rectW / 2)
        .attr("y", rectH / 2)
        .attr("dy", ".35em")
        .attr("text-anchor", "middle")
        .text(function (d) {
        return d.name;
    });

    // Transition nodes to their new position.
    var nodeUpdate = node.transition()
        .duration(duration)
        .attr("transform", function (d) {
        return "translate(" + d.x + "," + d.y + ")";
    });

    nodeUpdate.select("rect")
        .attr("width", rectW)
        .attr("height", rectH)
        .attr("stroke", "black")
        .attr("stroke-width", 1)
        .style("fill", function (d) {
        return d._children ? "lightsteelblue" : "#fff";
    });

    nodeUpdate.select("text")
        .style("fill-opacity", 1);

    // Transition exiting nodes to the parent's new position.
    var nodeExit = node.exit().transition()
        .duration(duration)
        .attr("transform", function (d) {
        return "translate(" + source.x + "," + source.y + ")";
    })
        .remove();

    nodeExit.select("rect")
        .attr("width", rectW)
        .attr("height", rectH)
    //.attr("width", bbox.getBBox().width)""
    //.attr("height", bbox.getBBox().height)
    .attr("stroke", "black")
        .attr("stroke-width", 1);

    nodeExit.select("text");

    // Update the links…
    var link = svg.selectAll("path.link")
        .data(links, function (d) {
        return d.target.id;
    });

    // Enter any new links at the parent's previous position.
    link.enter().insert("path", "g")
        .attr("class", "link")
        .attr("x", rectW / 2)
        .attr("y", rectH / 2)
        .attr("d", function (d) {
        var o = {
            x: source.x0,
            y: source.y0
        };
        return diagonal({
            source: o,
            target: o
        });
    });

    // Transition links to their new position.
    link.transition()
        .duration(duration)
        .attr("d", diagonal);

    // Transition exiting nodes to the parent's new position.
    link.exit().transition()
        .duration(duration)
        .attr("d", function (d) {
        var o = {
            x: source.x,
            y: source.y
        };
        return diagonal({
            source: o,
            target: o
        });
    })
        .remove();

    // Stash the old positions for transition.
    nodes.forEach(function (d) {
        d.x0 = d.x;
        d.y0 = d.y;
    });
}

// Toggle children on click.
function click(d) {
    if (d.children) {
        d._children = d.children;
        d.children = null;
    } else {
        d.children = d._children;
        d._children = null;
    }
    update(d);
}

//Redraw for zoom
function redraw() {
  //console.log("here", d3.event.translate, d3.event.scale);
  svg.attr("transform",
      "translate(" + d3.event.translate + ")"
      + " scale(" + d3.event.scale + ")");
}
</script>